{% extends 'admin/base.html.twig' %}

{% block title %}
	Administration des utilisateurs
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">
			Administration des utilisateurs
		</h1>
	</div>

{% endblock %}
