{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue chez SénéLodge
{% endblock %}

{% block body %}

	<div class="jumbotron" style="background-image : url({{asset("/upload/image/homepage.png")}})">
		<h1 class="display-3">
			Bienvenue sur SénéLodge
		</h1>
		<p class="lead">
			Trouvez des offres sur des hôtels, des hébergements indépendants et bien plus encore...
		</p>
		<hr class="my-4">
		<p>
			Faite vite
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="{{path('ad_index')}}" role="button">
				Voir nos Annonces
			</a>
		</p>
	</div>
	<div>
	</div>

</div>{% endblock %}
