{% extends 'base.html.twig' %}

{% block Bienvenue chez SénéLodge
{% endblock %}

{% block body %}

	<div class="jumbotron">
		<h1 class="display-3">Bienvenue sur SénéLodge</h1>
		<p class="lead">Dans ce site vous allez trouver votre bonheur
		</p>
		<hr class="my-4">
		<p>Faite vite !!!</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="{{path('ad_index')}}" role="button">Voir nos Annonces</a>
		</p>
	</div>

</div>{% endblock %}
