<!-- Footer -->
<footer
	class="page-footer font-small blue mt-5 pt-2">

	<!-- Footer Links -->
	<div
		class="container-fluid text-center text-md-left">

		<!-- Grid row -->
		<div
			class="row">

			<!-- Grid column -->
			<div
				class="col-md-6 mt-md-0 mt-3">

				<!-- Content -->
				<h5 class="text-uppercase">
					SénéLodge
				</h5>
				<p>
					SASU ASA Digital
				</p>
				<p>
					Limeil-Brévannes (94)
					<br>
					Ile-de-France
				</p>
				<p>
					Tél : 06 51 86 31 01
				</p>
				<p>
					Fax : 01 00 00 00 00
				</p>
				<p>
					asadigital@outlook.com
				</p>

			</div>

			<hr
			class="clearfix w-100 d-md-none pb-3">

			<!-- Grid column -->
			<div
				class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="text-uppercase">
					Á propos
				</h5>

				<ul class="list-unstyled">
					<li>
						<a href="https://senelodge.fr">
							Nous retrouver sur notre site web
						</a>
					</li>
					<li>
						<a href="">
							En apprendre plus sur nous !
						</a>
					</li>
					<li>
						<a href="#">
							Conditions générales d'utilisation du service
						</a>
					</li>
					<li>
						<a href="#">
							Mentions légales
						</a>
					</li>
				</ul>

			</div>
			<!-- Grid column -->

		<!-- Grid column -->
			<!-- Grid column 
																																			</div>
																																			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			© asadigital

		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
