<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <style>
        .main.container{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="ui inverted fixed menu">
        <div class="header item">Tutoriel</div>
    </div>
    <div class="ui main container">
        <form action="payment.php" class="ui form" id="payment_form" method="post">
            <div class="field">
                <input type="text" name="name" required placeholder="Votre nom" value="Jonathan">
            </div>
            <div class="field">
                <input type="email" name="email" required placeholder="votre@email.fr" value="contact@grafikart.fr">
            </div>
            <div class="field">
                <input type="text" placeholder="Votre code de carte bleu" data-stripe="number" value="4242 4242 4242 4242">
            </div>
            <div class="field">
                <input type="text" placeholder="MM" data-stripe="exp_month" value="10">
            </div>
            <div class="field">
                <input type="text" placeholder="YY" data-stripe="exp_year" value="18">
            </div>
            <div class="field">
                <input type="text" placeholder="CVC" data-stripe="cvc" value="123">
            </div>
            <p>
                <button class="ui button" type="submit">Acheter</button>
            </p>
        </form>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        Stripe.setPublishableKey('pk_test_Et9GdgxRPH9oBRXGCfMKX6RK')
        var $form = $('#payment_form')
        $form.submit(function (e) {
            e.preventDefault()
            $form.find('.button').attr('disabled', true)
            Stripe.card.createToken($form, function (status, response) {
                if (response.error) {
                    $form.find('.message').remove();
                    $form.prepend('<div class="ui negative message"><p>' + response.error.message + '</p></div>');
                    $form.find('.button').attr('disabled', false)
                } else {
                    var token = response.id
                    $form.append($('<input type="hidden" name="stripeToken">').val(token))
                    $form.get(0).submit()
                }
            })
        })
    </script>
</body>
</html>