.contenu {
    height: 220px;
}

.contenuDashboard {
    height: 600px;
}

.colorNav {
    background-color: #276678;
}

.colorNav a {
    color: white;
    font-size: medium;
}

.colorFooter {
    background-color: #909ca5;
}

.colorFooter p,
.colorFooter a,
.colorFooter h5 {
    color: white;
    font-weight: bolder;
}

.colorCard {
    background-color: #7a7979;
}

.description {
    color: white;
}

.card,
.card-body,
.card-header {
    background-color: #d3e0ea;
}

.bobcat {
    box-shadow: 8px -5px rgb(66, 66, 66);
}

.card-body p {
    color: rgb(68, 67, 67);
}

.card-title a {
    color: black;
}

.card-body .btn {
    color: white;
}

.colorDiv {
    background-color: #918e8e;
    border-radius: 10px;
}


/* color de la div accueil */

.colorDivHome {
    background-color: #818181;
    border-radius: 20px;
}

.colorDivHome p {
    color: white;
    font-size: medium;
}

.colorContent1 {
    background-color: grey;
}

div.container,
div.container-fluid {
    margin-top: 20px;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad {
    padding: 2em;
    background-position: center center;
}

div.ad h1,
div.ad h5,
div.ad strong {
    color: #276678;
    font-weight: bolder;
}

div.ad p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.homeText {
    color: #276678;
    font-weight: bolder;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

div.ad .btn {
    margin-top: 2em;
    font-size: 2em;
    line-height: 1.5em;
    background-color: #276678;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}