/* CONTAINER *************************************************************/

div.container,
div.container-fluid {
    margin-top: 20px;
}


/* Partials **********************************************************************/

.colorNav {
    background-color: #276678;
}

.colorNav a {
    color: white;
    font-size: medium;
}

.colorFooter {
    background-color: #909ca5;
}

.colorFooter p,
.colorFooter a,
.colorFooter h5 {
    color: white;
    font-weight: bolder;
}


/* HOME ******************************************************************************/

.colorDivHome {
    background-color: #818181;
    border-radius: 20px;
}

.colorDivHome p {
    color: white;
    font-size: medium;
}


/* couleur des titres des pages   ****************************************************/

.homeText {
    color: #276678;
    font-weight: bolder;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}


/* Gestion de la largeur des cartes vue user et vue admin  ****************************/


/* Hauteur de la div vue site */

.hauteurDiv {
    height: 220px;
}

.contenuDashboard {
    height: 600px;
}


/* Gestion de l'apparence et couleur des cartes ******************************/


/* Couleur du text dans le show d'une annonce */

.colorShowAd {
    background-color: #7a7979;
    padding: 10px;
    border-radius: 20px;
}

.colorShowAd .description {
    color: white;
}

.colorShowAd .row p {
    font-size: 1.5em;
}


/* Couleur des card */

.card,
.card-body,
.card-header {
    background-color: #d3e0ea;
}


/*Reflet 3D des card */

.box3D {
    box-shadow: 8px -5px rgb(66, 66, 66);
}


/* Couleur du text dans le body des card */

.card-body p {
    color: rgb(68, 67, 67);
}


/* Couleur du titre sous forme de lien */

.card-title a {
    color: black;
}


/* Couleur du text dans le btn */

.card-body .btn {
    color: rgb(1, 24, 1);
    font-size: medium;
}


/* Background des div de commentaires et notre dans le show d'une annonce */

.colorDiv {
    background-color: #918e8e;
    border-radius: 10px;
}

.colorContent1 {
    background-color: grey;
}


/* SHOW d'une annonce *******************************************************/

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad {
    padding: 2em;
    background-position: center center;
}

div.ad h1,
div.ad h5,
div.ad strong {
    color: #276678;
    font-weight: bolder;
}

div.ad p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.ad .btn {
    margin-top: 2em;
    font-size: 2em;
    line-height: 1.5em;
    background-color: #276678;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
    width: 700px;
    height: 600px;
}


/* Photo avater ************************************************/

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}


/* Gestion des dates pour les réservations ***************************/

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: firebrick !important;
}


/* Coloration des étoiles de notation *****************************************************/

span.rating i {
    color: goldenrod;
}


/* Élement alert ***************************************************/

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}


/* Armonisation des formulaires ***************************************/

.formulaire {
    background-color: #276678;
    color: white;
    font-size: large;
    border-radius: 20px;
    padding: 20px;
}

.formulaire .btn {
    color: rgb(8, 53, 8);
    font-size: medium;
}

.formulaire a {
    color: white;
    font-size: medium;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 3em;
}

input[type="textarea"] {
    height: 20em;
}

.badge.badge-primary a {
    color: white;
    font-weight: bold;
}


/* Components **********************************************************************/

@media (min-width: 576px) {
    div.modal.details {
        position: relative;
        display: block;
    }
    div.modal.details .modal-dialog {
        max-width: 100%;
    }
}