.contenu {
    height: 220px;
}

.contenuDashboard {
    height: 600px;
}

.colorNav {
    background-color: #023059;
}

.colorCard {
    background-color: #023059;
}

.card,
.card-body,
.card-header {
    background-color: #023059;
}

.colorDiv {
    background-color: #03588C;
}

.colorDivHome {
    background-color: #073863;
    border-radius: 20px;
}

.colorContent1 {
    background-color: grey;
}

div.container,
div.container-fluid {
    margin-top: 20px;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad {
    padding: 2em;
    background-position: center center;
}

div.ad h1,
div.ad p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.homeText {
    color: rgb(41, 23, 23);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

div.ad .btn {
    margin-top: 2em;
    font-size: 2em;
    line-height: 1.5em;
    background-color: #023059;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn {
    color: white;
}