<p class="h2">
	Bonjour,
</p>
<br>

<p class="h2">
	Nous vous remercions d'avoir choisi Sénélodge. Afin de profiter pleinement de nos services, veuillez valiser votre compte en cliquant sur le lien suivant
</p>

<br>
<h4>
	<a href="{{ absolute_url(path('confirm_account', {"token": token})) }}">
		Activer mon compte
	</a>
</h4>

<br>
A bientôt sur Sénélodge
