<p>
	Bonjour,
</p>
<br>

<p>
	Nous vous remercions d'avoir choisi Sénélodge. Afin de profiter pleinement de nos services, veuillez valiser votre compte en cliquant sur le lien suivant
</p>

<br>
<h3>
	<a href="{{ url('confirm_account', {"token": token}) }}">
		Cliquer ici pour confirmer votre compte
	</a>
</h3>

<br>
A bientôt sur Sénélodge
