{% extends 'base.html.twig' %}

{% block title %}
	Création d'une annonce
{% endblock %}

{#% form_theme form 'ad/_collection.html.twig' %#}

{% block body %}
	<div class="container colorNav">
		<h1 class="my-5">
			Créer une nouvelle annonce
		</h1>

		{{ form_start(form) }}
		
		{{ form_widget(form) }}


		<div class="colorCard clearfix">
			<h2 class=" h6 alert-heading">
				Sauvegarder mon annonce
			</h2>
			<p>
				Vous êtes sur le point de créer votre annonce, nous sommes super fier de vous !
			</p>
			<button type="submit" class="btn btn-primary float-right">
				<i class="fas fa-check"></i>
				Créer la nouvelle annonce
			</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}

	<script src="{{ asset('build/js/ad.js') }}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>
	$('#uploadForm + embed').remove();
	$('#uploadForm').after('<embed src="'+e.target.result+'" width="450" height="300">');
	
	$("#coverImageFile").change(function () {
    filePreview(this);
	});
	</script>

{% endblock %}
